{% extends "base.html" %}

{% block title %}会议通知编辑{% endblock %}


{% block navbar %}
<section class="content-header">
    <h1>会议通知编辑</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">会议通知</li>
        <li class="active">会议通知查询</li>
    </ol>
</section>
{% endblock %}


{% block content %}
<div class="box box-primary">
    <form method="post">
        {{form.hidden_tag()}}
        <div class="box-header with-border">
            {% include 'message.html' %}
        </div>

        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.createrID.label}}</label>
                    {{form.createrID(class_="form-control",value=current_user.id)}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{form.startTime.label}}</label>
                    {{form.startTime(class_="form-control form_datetime")}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{form.endTime.label}}</label>
                    {{form.endTime(class_="form-control form_datetime")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.urgency.label}}</label>
                    {{form.urgency(class_="form-control select2")}}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{form.comment.label}}</label>
                    {{form.comment(class_="form-control")}}
                </div>
            </div>

        </div>

        <div class="box-footer">
            <div class="col-md-12">
                {{form.status()}}
                {{form.submit(class_="btn btn-primary pull-right")}}
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    function initPage() {
        slide_value = $(".slider").val() == "" ? 50 : parseInt($(".slider").val());
        $(".slider").slider({
            id: "blue",
            max: 100,
            value: slide_value
        });

        switch_value = $('#status')[0].checked
        $('#status').bootstrapSwitch({
            state: switch_value,
            onText: '生效',
            offText: '失效'

        });

        $(".select2").select2();
    }
</script>


{% endblock %}